{% extends "layout.html" %}
{% block content %}
    <h1>All Movies</h1>
    <table>
        <thead>
            <th>Movie Name</th>
            <th>Location</th>
            <th>Timing</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{{ movie.location }}</td>
                <td>{{ movie.datetime }}</td>
                <td><a  href="{{ url_for('update_movie',movie_id=movie.id) }}">Edit</a></td>
                <td><a  href="{{ url_for('delete_movie',movie_id=movie.id) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
